@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto auto 50px auto;
  border: 2px solid #f2f2f2;
}

.navbar .title {
  color: #e45821;
  font-size: 1.75em;
  font-weight: bold;
  margin-left: 0px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.product-list {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid #f2f2f2;
}

.sign-in-box {
  margin: auto auto 50px auto;
  display: flex;
  justify-content: center;
  border: 5px solid #f2f2f2;
  max-width: 500px;
}