@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.header {
  text-align: center;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  background-color: #e45821;
  color: #ffffff;
  min-height:100px;
  margin-left: auto;
}

.navbar .title {
  color: #ffffff;
  font-size: 1.75em;
  font-weight: bold;
}

.navbar a {
  color: #ffffff !important;
  margin-left: 16px;
  text-decoration: none !important;
  padding: 6px;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.card {
   flex: 0 1 calc(25% - 1em);
   border: none;
   margin: 0.3rem;
}

.card a {
  text-decoration: none;
}

.card:hover {
  border: 1px solid #000000;
}

.sign-in-box {
  margin: auto auto 50px auto;
  display: flex;
  justify-content: center;
  border: 2px solid #f2f2f2;
  max-width: 500px;
}

.body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f2f2f2;
}

.content {
  background-color: #ffffff;
}

.addToCartBtn:hover {
  background-color: #e45821 !important;
  color: #ffffff !important;
}

.card-body {
  height: 15rem !important;
}

body, div#root, div.body {
  min-height: 100%;
}
